.cherry{
    margin-top: 8vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    justify-content: space-evenly;

}

.achieve>img{
    max-width: 30vmax;
    margin: 5vmin;
}


#end{

    text-align: center;
    font-size: 2vmin;
    margin-top: 4vmin;
    margin-bottom: 4vmin;
    color: #75d5fd;

}



.comments{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vmin;
    color: #75d5fd;
}
.comment-item{
    width: 600px;
    max-width: 90vw;
    padding: 3vmin;
    border: 2px solid #75d5fd;
    color: #75d5fd;
    transition: 0.35s ease-in-out;
}

.comment-item:hover{
    border: 2px solid #222;
    color: #222;
    background: #75d5fd
}

.comment-input{
    width: 600px;
    max-width: 90vw;
    padding: 2vmin;
    font-size: 1.7vmin
}

#more-comments, .profile{

    margin-top: 1.5vmin;
    border: 2px solid #75d5fd;
    color: #75d5fd;
    padding: 2vmin;
    transition: 0.35s ease-in-out;
    cursor: default

}

.profile>a{
    color: #75d5fd;
    text-decoration: none;
}

#more-comments:hover{
    border: 2px solid #222;
    color: #222;
    background: #75d5fd
}

#submit-button{
    background: #222;
    border: 2px solid #75d5fd;
    color: #75d5fd;
    padding: 2vmin;
    margin: 1vmin;
}